<section id="character-details-wrapper" class="content-section p-10">

	<section id="description-details">

		<section id="classification-details">
			<div class="character-name">{{current_character.name}}</div>
		</section>

		<section id="characterization-details">
		</section>

	</section>

	<section id="combat-details">

		<section id="abilities-details">
		</section>

		<section id="defense-details">
		</section>

		<section id="attack-details">
		</section>

	</section>

	<section id="stat-details">
		
		<section id="health-details">
		</section>

		<section id="senses-details">
		</section>

	</section>

	<section id="skill-details">
	</section>

</section>