<section class="class-power bg-std bgc m-6">
		
	<section class="header clearfix p-6">
		<div class="title text-lg b pull-left"></div>

		<section class="details pull-right hoz">
			<div class="type caps-small"></div>
			<div class="action-type caps-small"></div>
			<div class="level caps-small"></div>
		</section>

	</section>

	<section class="body bdr bdr-t-off">

		<section class="power-detail keywords p-6 hoz">
			<div class="label b v-top">Keywords</div>
			<section class="list"></section>
		</section>

		<section class="power-detail range p-6 hoz">
			<div class="label b v-top">Range</div>
			<div class="value"></div>
		</section>

		<section class="power-detail target p-6 hoz">
			<div class="label b v-top">Target</div>
			<div class="value"></div>
		</section>

		<section class="power-detail attack p-6 hoz">
			<div class="label b v-top">Attack</div>
			<div class="value hoz"></div>
		</section>

		<section class="hit p-6">
			
			<section class="power-detail damage hoz">
				<div class="label b v-top">Damage</div>
				<div class="value hoz"></div>
			</section>

			<section class="details p-6 p-t-on">
				<div class="label b v-top">Details</div>
				<section class="list"></section>
			</section>

		</section>

	</section>

</section>